<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContainerMovementMapper">

	<update id="containerExitFromLaneId" 
		parameterType="com.ngen.cosys.ics.model.ContainerExitFromLaneModel">
			UPDATE Shipment_Inventory
			SET WarehouseLocation = #{destinationLane}
			WHERE ShipmentLocation = #{containerId}
	</update>
	
	<update id="containerExitFromLaneIdForUldMaster" 
		parameterType="com.ngen.cosys.ics.model.ContainerExitFromLaneModel">
			UPDATE Uld_UldMaster
			SET uldlocationcode = #{destinationLane}
			WHERE uldkey = #{containerId}
	</update>
	
</mapper>