<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="multipleResultSetsEnabled" value="false" />
		<setting name="cacheEnabled" value="false" />
	</settings>
	
	<typeHandlers>
		<typeHandler handler="com.ngen.cosys.typehandlers.YesNoBoolean" />
		<!-- Type Handler plugin for UTC Timestamp to convert to Local Date Time by Tenant-ID -->
		<typeHandler handler="com.ngen.cosys.timezone.typehandler.UTCDateTimeTypeHandler" />
		<typeHandler handler="com.ngen.cosys.framework.mybatis.typehandlers.StringToVarcharTypeHandler"/>
	</typeHandlers>
	
	<plugins>
		<plugin
			interceptor="com.ngen.cosys.framework.mybatis.interceptors.MyBatisEntityAuditPlugin" />
			<plugin interceptor="com.ngen.cosys.audit.NgenAuditInterceptor" />
			<plugin
            interceptor="com.ngen.cosys.multitenancy.meter.interceptor.MeterSQLInterceptor" />
	</plugins>
    
</configuration>